.container{
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
  overflow: hidden;
}
.card{
    margin-top: 20px;
    width: 500px;
    height: 200px;
    display: flex;
    gap: 20px;
    
    background:tomato;
    border-radius: 15px;
}
.card:hover{
    background:linear-gradient(orange, red);
}
button{

    width: 200px;
    height: 35px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 30px;
}
button:hover{
    background-color: rgb(255, 19, 19);
}
.img1{
    margin-top: 10px;
    width: 200px;
    height: 180px;
    margin-left: 15px;
    border-radius: 10px;
 
}
p{
    color:white;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.botao1{
    margin-top: 40px;
}
.comprar{
    color: rgb(154, 154, 154);
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
     padding: 5px;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 20px;
}
.comprar:hover{
    color: rgb(255, 255, 255);
}
.boto{
    margin-top: 35px;
    margin-left: 20px;
}